body {
    background-image: url('../media/galesnjak.jpg');
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: 'Lato';
}

.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow:focus {
    background: rgba(219, 84, 6, 0.726);
    border-radius: 25%;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 60px;
    }
}